body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: #EAECEE;
}
.box{
  width: 300px;
  padding: 40px;
  background: #2C3E50;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 600
}
.box input[type="login"], .box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #FFFFFF;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 30px;
  transition: 0.25s;
}
.box input[type="login"]:focus, .box input[type="password"]:focus{
  width: 280px;
  border-color: #16A085;
  text-align: center;
}
.box input[type="submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #16A085;
  padding: 14px 45px;
  outline: none;
  color: white;
  border-radius: 30px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover{
  background: #16A085;
}
